@import "/normalize.css";

/**************************************************************************************************/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --indigo-500:          rgb(99 102 241);
  --indigo-700:          rgb(67 56 202);
  --amber-500:           rgb(245 158 11);
  --cross-color:         var(--amber-500);
  --dot-color:           var(--indigo-500);
  --board-gap:           1em;
  --board-win-thickness: 5%;
  --text-dark:           #444444;
  --text-light:          #FEFEFE;
  --border-color:        #E0E0E0;
  --text-lg:             1.25rem;
  --text-xl:             1.5rem;
  --text-2xl:            1.75rem;
  --line-height-lg:      1.75rem;
  --line-height-xl:      2rem;
  --line-height-2xl:     2.25rem;
  --font-medium:         500;
  --font-bold:           700;
  --spacing-1:           0.25rem;
  --spacing-2:           0.5rem;
  --spacing-4:           1rem;
  --spacing-40:          10rem;
  --spacing-96:          24rem;
  --rounded-md:          0.375rem;
  --shadow-sm:           0 1px 2px 0 rgb(0 0 0 / 0.05);
  --border:              1px solid var(--border-color);
  --outline:             2px solid var(--indigo-500);
  --outline-offset:      2px;

}

/**************************************************************************************************
 CUSTOM ELEMENT ROOT STYLES
 **************************************************************************************************/

ttt-board  { display: block; }
ttt-header { display: block; }
ttt-dot    { display: inline-block; fill: var(--dot-color);   }
ttt-cross  { display: inline-block; fill: var(--cross-color); }

/**************************************************************************************************
 BASE STYLES
 **************************************************************************************************/

body {
  color:           var(--text-dark);
  min-height:      100vh;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

h1 {
  font-size:   var(--text-2xl);
  line-height: var(--line-height-2xl);
  font-weight: var(--font-medium);
}

h2 {
  font-size:   var(--text-xl);
  line-height: var(--line-height-xl);
  font-weight: var(--font-medium);
}

h3 {
  font-size:   var(--text-lg);
  line-height: var(--line-height-lg);
  font-weight: var(--font-medium);
}

label {
  font-size:   var(--text-lg);
  line-height: var(--line-height-lg);
  font-weight: var(--font-medium);
}

input[type=text] {
  padding:       var(--spacing-1) var(--spacing-2);
  border-radius: var(--rounded-md);
  border:        var(--border);
  box-shadow:    var(--shadow-sm);
}

input[type=text]:focus {
  outline:        var(--outline);
  outline-offset: var(--outline-offset);
}

button {
  padding:          var(--spacing-1) var(--spacing-2);
  border-radius:    var(--rounded-md);
  box-shadow:       var(--shadow-sm);
  background-color: var(--indigo-500);
  color:            var(--text-light);
  font-weight:      var(--font-medium);
}

button:disabled {
  opacity: 0.5;
  cursor:  not-allowed;
}

button:disabled:hover {
  background-color: var(--indigo-500);
}

button:hover {
  background-color: var(--indigo-700);
}
 
button:focus {
  outline:        var(--outline);
  outline-offset: var(--outline-offset);
}

/**************************************************************************************************
 LAYOUT
 **************************************************************************************************/

#viewport {
  flex-grow: 1;
  min-width: var(--spacing-40);
  max-width: var(--spacing-96);
  padding:   var(--spacing-4);
  border:    var(--border);
}

#header {
  min-height: var(--spacing-40);
}

/**************************************************************************************************
 HEADER COMPONENT STYLES
 **************************************************************************************************/

.header-form {
  display:        flex;
  flex-direction: column;
  align-items:    start;
  gap:            var(--spacing-2);
}

.header-name-input {
  width: 100%;
}

.header-join-button {
  align-self: flex-end;
}

.header-replay-button {
  align-self: flex-end;
}

.header-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.header-player,
.header-opponent {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.header-player-name,
.header-opponent-name {
  font-weight: var(--font-bold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-player-dot,
.header-player-cross,
.header-opponent-dot,
.header-opponent-cross {
  width: var(--spacing-4);
  margin-top: var(--spacing-1);
  flex-shrink: 0;
}

/**************************************************************************************************
 BOARD COMPONENT STYLES
 **************************************************************************************************/

.board {
  display: flex;
  flex-direction: column;
  gap: var(--board-gap);
  position: relative;
}

.board-row {
  display: flex;
  gap: var(--board-gap);
}

.board-cell {
  flex-grow: 1;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--border-color);
}

.board-cell       ttt-dot   { display: none; width: 60%; margin-top: 5px; }
.board-cell       ttt-cross { display: none; width: 60%; margin-top: 5px; }
.board-cell.dot   ttt-dot   { display: block; }
.board-cell.cross ttt-cross { display: block; }

.board.cross.my-turn .board-cell:not(.dot):not(.cross):hover {
  background-color: color-mix(in srgb, var(--cross-color) 10%, white);
  cursor: pointer;
}

.board.dot.my-turn .board-cell:not(.dot):not(.cross):hover {
  background-color: color-mix(in srgb, var(--dot-color) 10%, white);
  cursor: pointer;
}

.board.my-turn .board-cell.dot:hover,
.board.my-turn .board-cell.cross:hover {
  cursor: not-allowed;
}

.winning-line {
  display: none;
  position: absolute;
  border-radius: 1000px;
  opacity: 50%;
}

.winning-line.cross { display: block; background-color: var(--cross-color);  }
.winning-line.dot   { display: block; background-color: var(--dot-color);    }

.winning-line.top-row {
  left: 5%;
  right: 5%;
  top: calc(((100% - (2 * var(--board-gap))) * 1/6) - (var(--board-win-thickness)/2));
  height: var(--board-win-thickness);
}

.winning-line.middle-row {
  left: 5%;
  right: 5%;
  top: calc(50% - (var(--board-win-thickness)/2));
  height: var(--board-win-thickness);
}

.winning-line.bottom-row {
  left: 5%;
  right: 5%;
  bottom: calc(((100% - (2 * var(--board-gap))) * 1/6) - (var(--board-win-thickness)/2));
  height: var(--board-win-thickness);
}

.winning-line.left-column {
  top: 5%;
  bottom: 5%;
  left: calc(((100% - (2 * var(--board-gap))) * 1/6) - (var(--board-win-thickness)/2));
  width: var(--board-win-thickness);
}

.winning-line.center-column {
  top: 5%;
  bottom: 5%;
  left: calc(50% - (var(--board-win-thickness)/2));
  width: var(--board-win-thickness);
}

.winning-line.right-column {
  top: 5%;
  bottom: 5%;
  right: calc(((100% - (2 * var(--board-gap))) * 1/6) - (var(--board-win-thickness)/2));
  width: var(--board-win-thickness);
}

.winning-line.down-diagonal {
  left: calc(((90% * sqrt(2)) - 100%) * -1/2);
  width: calc(90% * sqrt(2));
  top: calc(50% - (var(--board-win-thickness)/2));
  height: var(--board-win-thickness);
  transform: rotate(45deg);
}

.winning-line.up-diagonal {
  left: calc(((90% * sqrt(2)) - 100%) * -1/2);
  width: calc(90% * sqrt(2));
  top: calc(50% - (var(--board-win-thickness)/2));
  height: var(--board-win-thickness);
  transform: rotate(-45deg);
}

/**************************************************************************************************
 UTILITIES
 **************************************************************************************************/

.hidden { display: none; }

/**************************************************************************************************/
